*{
  margin: 0;
  padding: 0;
  font-family:"Jomhuria", serif;;
}

nav{
  background-color: #F3F3F4;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav img{
  height: 60px;
}

.banner{

  display: flex;
  align-items: center;
  min-height: 600px;
}

.banner img{
  object-fit: contain;
}

.accurate-title{
  margin-top: -115px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accurate-title h1{
  color: #fff;
  font-family: "Jomhuria";
  font-size: 160px;
  font-weight: 400;
}

.title-bottom{
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-bottom h1{
  font-size: 160px;
  font-weight: 400;
  background: linear-gradient(#1E1E1E,#6F6F6F);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.btn{
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 140px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 32px;
  border-radius: 20px;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
  border-radius: 20px;
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
  border-radius: 20px;
}

.box:hover{
  border: 3px solid orange;
}

button {
  color: orange;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}